{
  "extends": ["airbnb", "airbnb-typescript"],
  "parserOptions": {
    "project": "./front/tsconfig.json"
  },
  "rules": {
    // not needed in react 16+
    "react/react-in-jsx-scope": 0,
    "react/jsx-filename-extension": [ "warn", {"extensions": [".tsx"]} ]
  }
}
